.form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
  }
  
  .container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
  }
  
  .container h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
   margin-top: 2rem;
  }

  .form {
    gap: 10px;
    font-size: 1.3rem;
    height: 50vh;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .containerquadrado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 20px;
    width: 100vw;
    height: 50px;
    place-items: center;
    margin-top: 10rem;
    padding-right: 5rem;

  }
  
  .quadradointerno, .quadradotwo, .quadradothree {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  

  .pa {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    font-size: 18px;
  }

  .container input {
   border-radius: 8px;
  }

  .container textarea {
    border-radius: 8px;
  }

  
  @media (max-width: 1280px) {
    .form {
        font-size: 1.5rem; 
        height: auto; 
        margin-bottom: -5rem;
    }

    .container {
        padding: 15px;
    }

    .container h1 {
        font-size: 1.5rem; 
    }

    .form {
        gap: 7px; 
    }

    .label {
        font-size: 0.9rem;
    }

    .containerquadrado {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        gap: 5px; 
    }

    .quadradointerno, .quadradotwo, .quadradothree {
        width: 100%; 
    }

    .pa {
        font-size: 16px; 
    }
}

@media (max-width: 600px) {
  .form {
    width: 130%;
    font-size: 1.2rem; 
    align-items: center;
   justify-items: center;
   margin-left: 1rem;
}
  .container {
      padding: 15 px;
  }

  .container h1 {
      font-size: 1.5rem;
      align-items: center;
      justify-content: center ;
      margin-left: 6rem;
  }

  .container input{
    max-width: 70%;
  }

  .container textarea {
    width: 80%;
    max-width: 350px; 
  }

  .form {
      gap: 7px;
  }

  .label {
      font-size: 0.85rem; 
  }

  .containerquadrado {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
      gap: 15px;
  }

  .quadradointerno, .quadradotwo, .quadradothree {
      width: 100%;
  }

  .pa {
      font-size: 16px;
  }
}