.container {
  margin-bottom: 20rem;
  width: 100%;
  margin-left: -10rem;
}

.containerquadrado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 5rem; 
  box-sizing: border-box; 
  margin-top: 10rem;
  max-width: 100%;
}

.quadradoone, .quadradotwo, .quadradothree {
  flex-basis: calc(33.333% - 20px); 
  max-width: calc(33.333% - 20px); 
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 20px; 
  margin-top: 1.3rem;
}

.contentp {
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.014);
  margin-left: -5rem; 
  max-width: 50%;
}

  .pa {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    font-size: 18px;
  }

  .contactinfo {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    width: 80%;
    margin-left: 20rem;
    background-color: rgba(240, 248, 255, 0.021);
    padding: 15px;
    border-radius: 15px;
  }
  
  .title {
    font-size: 1.8rem;
    margin-left: 20rem;
    margin-bottom: -5rem;
    width: 100%;
    text-align: center;
  }
  
  .quadradointerno p {
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    width: 100%;

  }

  
    .containertitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

  }

@media (max-width: 768px) {

  .container{
    margin-bottom: 20rem;
    margin-left: 0;
    
  }

  .containerquadrado {
    padding: 0 2rem;
  }

  .quadradoone, .quadradotwo, .quadradothree {
    width: 100%;

  }

  .contentp {
    max-width: 100%; 
    margin-left: 0; 
    background-color: aliceblue;

  }

  .quadradointerno p {
    width: 65%;
  }


  .pa, .contactinfo {
    font-size: 16px;
    margin-left: 2rem;
  }

  .quadradointerno Img {
    margin-right: 32rem;

  }
  
.quadradoone{
  align-items: center;

  }

    .pa, .contactinfo {
      font-size: 14px; 
    }
  
    .title {
      font-size: 1.4rem;
      margin-top: 1rem; 
      margin-left: 0;
      margin-bottom: 0;
    }
  
    .contentp {
      border-radius: 10px; 
      padding: 0.5rem; 
      background-color: rgba(240, 248, 255, 0.01); 
    }
  }
  



