.footer {
  width: 100%;
  height: 15vh;
  padding: 1rem 0;
  margin-bottom: -5rem;
  background-color: rgba(128, 128, 128, 0.158);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footercontainer {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  
}

@media (zoom: 1.5) { 
  .footer {
    position: fixed;
  }
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 2rem; 
    bottom: 0;
    margin-bottom: -25rem;
  }

  .footercontainer {
    flex-direction: column; 
    text-align: center;
    gap: 20px;
    bottom: 0;
  }
}