.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .inputField {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .buttonlogin {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }

.signin{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem; /* Assumindo que 1 unit é igual a 0.25rem, que é a conversão padrão de Tailwind para rem */
  margin-top: 5rem;
}
