/* Login.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaçamento entre o input e o botão */
  }
  
  .inputField {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .buttonlogin {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Adicionando margem abaixo do botão */
  }
  