.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: #ffffff00;
    color: #fff;
    width: 100%; 
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    margin-right: 15px;
    margin-left: 1rem;
  }
  
  .menu {
    list-style-type: none;
    display: flex; /* Garante que os itens do menu sejam tratados como flex items */
  
  }
  
.signIn{
  margin-left: 2rem;
  margin-right: 1rem;
  height: 0;
}

  .menu li {
    margin-left: 20px;
    position: relative; 
    overflow: hidden; 
  }
  
  .menu li::before {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: -100%;
    width: 100%; 
    height: 2px;
    background: white;
    transform-origin: right; 
    transition: left 0.2s ease-in-out; 
  }
  
  .menu li:hover::before {
    left: 0; 
  }
  
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu a:hover {
    color: #ddd;
  }
  
.loginstyle{
   padding: 10px;
    border-radius: 10px;
    background-color: #dddddd15;
    margin-top: -0.7rem;
}

  @media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
    }

    .menu {
        margin-right: 0; 
        flex-direction: row;
    }

    .menu li {
        margin-top: 10px; 
    }

    .menu li::before {
        top: 0; 
        bottom: auto; 
        transform-origin: top;
    }
    .loginstyle{
      padding: 10px;
       border-radius: 10px;
       background-color: #dddddd27;
       margin-top: -0rem;
   }
}