.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

  }
  
  .socialLinksList {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os ícones */
    list-style-type: none;
    padding: 0;
  }

  .socialLinksList p{
    
  }
  .icon_whatsapp:hover,
  .icon_facebook:hover,
  .icon_twitter:hover,
  .icon_instagram:hover,
  .icon_linkedin:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone para 120% do original */
    transition: transform 0.3s ease-in-out; /* Ajusta a duração e a função de tempo */
  }
  